APP_NAME=demo
APP_ENV=local
APP_KEY=base64:SNtkqhmSJ+t8CE8dERgEvC9Dsg5OKuoArED0eMiA3nw=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=demo
DB_USERNAME=demo
DB_PASSWORD=
